@import "tailwindcss";

@utility container {
  width: calc(100% - 3.125rem);
  max-width: 48.75rem;
  margin-left: auto;
  margin-right: auto;

  @variant md {
    max-width: 71.25rem;
  }
}

@utility content {
  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}