---
const { posts, currentPage, totalPages } = Astro.props;
---
<div class="container py-6">
  <h1 class="text-3xl font-bold mb-8">Blog</h1>
  <div class="mb-4">
    <form action="/search" method="GET">
      <input type="text" name="q" placeholder="Search..." class="border p-2 rounded" required />
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer">Search</button>
    </form>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    { posts.map((post: any) => (
      <div class="w-full p-8 border">
        <p class="text-xl mb-4">{post.title.rendered}</p>
        <div class="mb-3" set:html={post.excerpt.rendered}></div>
        <a href={`/blog/${post.slug}`}>Read more</a>
      </div>
      ))
    }
  </div>

  <div class="flex justify-center mt-8">
    { currentPage > 1 ? (
      <a href={`/blog/${currentPage - 1 === 1 ? '' : currentPage - 1}`} class="mx-2 px-4 py-2 bg-gray-200 rounded">Previous</a>
    ) : null}
    { currentPage < totalPages && (
      <a href={`/blog/${currentPage + 1}`} class="mx-2 px-4 py-2 bg-gray-200 rounded">Next</a>
    )}
  </div>
</div>