---

import FooterMenu from "../components/FooterMenu.astro";

---
<footer class="text-gray-600 body-font">
  <div class="container py-8 flex flex-wrap flex-col md:flex-row items-center">
    <a class="title-font font-medium text-gray-900 mb-4 md:mb-0">Logo</a>
    <FooterMenu/>
  </div>
</footer>