---

import PrimaryMenu from "../components/PrimaryMenu.astro";

---
<header class="text-gray-600 body-font">
  <div class="container py-8 flex flex-wrap flex-col md:flex-row items-center">
    <a href="/" class="title-font font-medium text-gray-900 mb-4 md:mb-0 no-underline">Logo</a>
    <PrimaryMenu/>
  </div>
</header>
